.device-controls-container {
  position: relative;
  top: 25px;
  &.multiple-columns {
    top: 52px;
  }
}
.device-container {
  width: 180px;
  height: 209px;
  margin: 5px 0;
  border-radius: 5px;
  border: solid 1px transparent;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  background-color: #fff;
  position: relative;

  &.selected {
    border: solid 1px #008cba;
  }
  .set-input {
    margin-top: 50%;
    textarea {
      width: 50%;
    }
  }
  .device-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .device-frame {
      width: 130px;
      height: 209px;
      margin-right: 10px;
      &.spinner {
        width: 180px;
        margin-right: 0px;
      }
    }
  }
}
.device-delete-icon {
  position: absolute;
  top: 0;
  right: 0;
}
