.measures-tab {
  text-align: left;
  font-size: 1rem;

  #measures-instructions {
    padding: 20px 20px 0 20px;
    border-top: solid 1px #777;
    margin-bottom: 30px;
  }

  #select-measure-container, #measure-name-container, #define-measure-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    .select-measure-dropdown {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      select {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 1.5px;
        border: solid 1px #008cba;
        background-color: #dbf6ff;
        cursor: pointer;
      }
      &::after {
        content: url("../../assets/dropdown-arrow-icon.svg");
        position: absolute;
        right: 0;
        pointer-events: none;
      }
    }
  }

  #select-measure-label, #measure-name-label, #define-measure-label {
    min-width: 140px;
  }

  #select-measure {
    padding: 3px 5px;
    width: 100%;
  }

  #measure-name {
    width: 100%;
    padding: 5px;
  }

  #measure-formulas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-family: monospace;

    .formula {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 12px;

      &.hidden {
        display: none;
      }
      .formula-paren {
        display: flex;
        flex-direction: row;
        align-items: center;

        .formula-dropdown {
          position: relative;
          margin: 0 5px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;

          select {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 100%;
            padding: 5px;
            border-radius: 1.5px;
            border: solid 1px #008cba;
            background-color: #dbf6ff;
            cursor: pointer;
          }
          &::after {
            content: url("../../assets/dropdown-arrow-icon.svg");
            position: absolute;
            right: 0;
            pointer-events: none;
          }
        }
      }
    }
  }

  #measures-bottom {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  #measures-message {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 0 0;
    font-style: italic;
  }
  label {
    margin-right: 5px;
  }

  button#add-measure {
    margin-top: 15px;
    color: black;
    padding: 5px 10px;
    border: solid 1px #008cba;
    border-radius: 1.5px;
    background-color: #dbf6ff;
    cursor: pointer;
    -webkit-transition: background-color 0.4s, color 0.4s;
    transition: background-color 0.4s, color 0.4s;

    &.disabled {
      background-color: #eaf8fd;
      border: 1px solid #cfd7da;
      color: #a3babd;
      cursor: default;
      pointer-events: none;
    }
  }
}
