.about-tab {
  text-align: left;
  padding: 10px 20px;
  font-size: 12px;
  border-top: solid 1px #777;


  .funding {
    img {
      float: right;
    }

    .nsf-grant-id {
      color: red;
    }
  }
}